
<page-home 
  :locale-content="<%= get_locale_content('home') %>"
  text-feedback="<%= t('shared.feedback') %>"
  text-attribution ="<%= t('shared.attribution') %>"
>
  <%# <h1 class="bg-red-400 h-40">Termz and Kondishionz</h1> %>
  <terms-and-conditions></terms-and-conditions>
</page-home>